body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  min-height: 100dvh;
  min-width: 100%;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 0.5fr 10fr 0.5fr;
  grid-template-areas:
    "header header header"
    "aside images_section transcription_section"
    "footer footer footer";
}
header {
  background-color: #cedfd9;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside {
  background-color: #5f5449;
  color: #ebfcfb;
  grid-area: aside;
}
.images_section {
  grid-area: images_section;
}
.images_section img {
  max-width: 20%;
}
.transcription_section {
  background-color: #ebfcfb;
  color: #5f5449;
  grid-area: transcription_section;
}
.transcription_section form {
  max-width: 80%;
  margin: 0 auto;
  font-size: 150%;
}
form > * {
  display: block;
  width: 90%;
  margin-bottom: 2%;
}
form button {
  width: 30%;
  aspect-ratio: 5/1;
}
footer {
  background-color: #cedfd9;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) and (orientation: portrait) {
  body {
    grid-template-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header"
      "aside images_section"
      "aside transcription_section"
      "footer";
  }
  /* body_no_aside {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "images_section"
      "transcription_section"
      "footer";
  } */
}
