/* Resetting CSS; reoving any padding and margin in our elements 
and also having our element be in border box  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.5rem;
}
/* Header stylings */
.header-section {
  background-color: #cedfd9;
}
h2 {
  text-align: center;
  text-decoration: underline;
}
/* Body section styling */
.body--section {
  display: flex;
}
/* Images Section */
ul {
  display: flex;
}
li {
  list-style: none;
  text-align: center;
}
img {
  width: 89%;
  border: 2px solid black;
}

/* Side Panel */
.side-panel {
  background-color: #b09398;
}
.document {
  padding-block: 1.5%;
}
.document:active {
  background-color: #e4cdd0;
}
.document:hover {
  background-color: #e4cdd0;
  cursor: pointer;
}
.documents--section {
  white-space: nowrap;
}
/*  */
