/* Resetting CSS; reoving any padding and margin in our elements 
and also having our element be in border box  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.5rem;
}
/* Header stylings */
.header-section {
  background-color: #B09398;
  display: flex;
  align-items: center;
  gap: 20%;
}
h2{
  margin-block: .5%;
}
h2 span {
  color: #ca5d5d;
}
/* Body section styling */
.body--section {
  display: flex;
  max-height: 90dvh;
}
/* Images Section */
ul {
  display: flex;
}
li {
  list-style: none;
  text-align: center;
}
img {
  width: 89%;
  border: 2px solid black;
}

/* Side Panel */
.side-panel {
  background-color: #EBFCFB;
  border-right: 2px solid #7c0011;
  min-width: 20%;
}
form {
  text-align: center;
}
.document {
  padding-block: 3%;
}
.document:hover {
  background-color: #5F5449;
  cursor: pointer;
  color: #CEDFD9 ;
}
.documents--section {
  white-space: nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
}
/*  */
