/* Resetting CSS; reoving any padding and margin in our elements 
and also having our element be in border box  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header stylings */
.header-section {
    background-color: rgb(54, 100, 141);
}

.header-section h1 {
    text-align: center;
}

/* Body section styling */
.body--section {
    display: flex;
}